body {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Background pattern from Toptal Subtle Patterns */
#index-body {
  background-image: url(/images/background/concrete_wall_2.png);
}

a {
  text-decoration: none;
}

nav a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  font-weight: 600;
}

h1,
nav a,
footer a {
  font-family: "Montserrat", sans-serif;
  opacity: 0.9;
}

h1 {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40px;
}

h2,
a {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
}

p,
h3,
h4 {
  font-family: "Judson", serif;
}

h3 {
  font-size: 21px;
  margin-bottom: 0;
}

p {
  font-size: 18px;
  margin-top: 5px;
}

.btn {
  font-size: 18px;
}

.logo {
  width: 300px;
  opacity: 0.9;
}

.logo-small {
  width: 200px;
  margin-left: 30px;
  opacity: 0.9;
}

header {
  display: flex;
  align-items: center;
  margin: auto;
  height: 70px;
  position: relative;
  z-index: 6;
}

nav {
  width: 100%;
}

nav .active {
  color: #d6b135;
  opacity: 1;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

nav .icon-section {
  display: flex;
  width: 200px;
  justify-content: end;
}

nav .icon {
  height: 20px;
  padding: 5px;
}

.headings-home {
  background-image: url(/images/pexels-rachel-claire-4577179.jpg);
  background-size: cover;
  height: 750px;
  margin-top: -90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headings-home .btn {
  border: solid 2px #d6b135;
  color: #d6b135;
  text-transform: uppercase;
  width: 300px;
  text-align: center;
  font-weight: 600;
  padding: 8px;
}

.categories {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 40px auto;
  flex-wrap: wrap;
}

.catogory-card {
  position: relative;
}

.catogory-card img {
  width: 100%;
}

.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #030b3d;
  transition: 0.4s ease;
}

.catogory-card h2 {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 40px;
  font-size: 50px;
  font-weight: 600;
  opacity: 0.9;
}

.catogory-card:hover .hover {
  opacity: 0.5;
}

.catogory-card:hover h2 {
  z-index: 2;
  opacity: 1;
}

.article {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.article.one {
  flex-direction: row-reverse;
}

.article img {
  max-width: 100%;
}

.article-text {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.article.two .article-text {
  margin-left: 20px;
}

.article .btn {
  font-weight: 600;
  color: #121212;
  width: 150px;
  border-bottom: solid 2px #8a6e15;
  margin-top: 40px;
}

.article .btn:hover {
  width: 250px;
  transition: 0.2s ease;
}

footer {
  width: 100%;
  background-color: #121212;
  padding: 10px 0;
  margin-top: 50px;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 90%;
}

footer li {
  list-style: none;
}
footer a {
  color: #fff;
  text-transform: uppercase;
}

.products-heading {
  background-image: url(/images/products-header.jpg);
  background-size: cover;
  filter: drop-shadow(0px 15px 20px #121212);
  height: 650px;
  margin-top: -100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.products-heading h1 {
  text-transform: uppercase;
  font-size: 50px;
}

#products-body h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.products-card {
  width: 90%;
  padding: 20px;
  padding-top: 0;
}

.products-card h3 {
  margin-top: 0;
  color: #121212;
}

.products-card p {
  color: #121212;
  opacity: 0.8;
}

.products-card img {
  width: 100%;
}

.products-card .btn {
  border-bottom: #8a6e15 solid 2px;
  display: inline-block;
  width: 30%;
  color: #121212;
}

.products-card .btn:hover {
  width: 60%;
  font-weight: 600;
  transition: 0.9s ease;
}

.underline {
  width: 70%;
  background-color: #030b3d;
  height: 1.5px;
  display: block;
  opacity: 0.3;
  margin: auto;
  margin-top: 70px;
}

@media only screen and (min-width: 600px) {
  .catogory-card img {
    width: 200px;
  }

  .article img {
    max-width: 200px;
  }

  .products-card {
    width: 350px;
    margin: auto;
  }
}

@media only screen and (min-width: 900px) {
  .catogory-card img {
    width: 300px;
  }

  .article img {
    max-width: 300px;
  }

  .article {
    flex-wrap: nowrap;
  }

  .products-container {
    flex-direction: row;
  }

  .products-card {
    width: 200px;
  }
}

@media only screen and (min-width: 1300px) {
  .catogory-card img {
    width: 400px;
  }

  .catogory-card h3 {
    font-size: 60px;
  }

  .article img {
    max-width: 450px;
  }

  .products-card {
    width: 300px;
  }
}
